    /* Body styling */
    body { 
      display: flex; 
      flex-direction: column;
      justify-content: center; 
      align-items: center; 
      height: 100vh; 
      margin: 0; 
      background-color: #f0f0f0;
      background-image: url('bg.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    /* Custom title bar */
    .title-bar {
      width: 100%;
      background-color: #f0f0f0;
      color: #f0f0f0;
      text-align: center;
      padding: 10px 0;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Pacifico', cursive;
      letter-spacing: 2px;
      text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
      background-image: url('91657.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    /* Canvas styling */
    canvas { 
      background-color: #ffffff; 
      border: 3px solid #000; 
    }
    body { display: flex; justify-content: center; align-items: center; height: 100vh; margin: 0; background-color: #f0f0f0; }
    canvas { background-color: #ffffff; border: 1px solid #000; }